.flag {
  background-color: rgb(177, 3, 3);
  width: 150px;
  height: 150px;
  position: relative;
}

.flag__element {
  position: absolute;
  background-color: white;
  top: 20%;
  left: 40%;
  width: 20%;
  height: 60%;
  border-radius: 5px;
}
.flag__element--second {
  transform: rotate(90deg);
}
.container {
  display: flex;
  justify-content: center;
}
